<fieldset>
    <form class="form-horizontal" ng-submit="controller.register()">
        <div>
            <label>Email:</label>
            <input class="form-control" ng-model="controller.registerUser.email" />
            <br />
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" type="password" ng-model="controller.registerUser.password" />
            <br />
        </div>
        <div>
            <label>Confirm Password:</label>
            <input class="form-control" type="password" ng-model="controller.registerUser.confirmPassword" />
            <br />
        </div>
        <input class="btn btn-info" type="submit" value="Register" />
    </form>
</fieldset>